$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower



// General

    img {
        max-width:100%;
        height:auto;
    }

    @media(max-width:600px) {
        .long {
            display:none;
        }
        .short {
            display:block;
        }
    }
    @media(min-width:600px) {
        .long {
            display:block;
        }
        .short {
            display:none;
        }
    }


// Topbar 
    .topbar {
        position:absolute;
        color:white;
        width:100%;
        padding:20px;
        font-size:20px;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

// Slider

    .slider {
        .background {
            background: url(http://38.media.tumblr.com/b69af3ed8a74f7df5e374711d1ed886c/tumblr_n7fgnop0bz1st5lhmo1_1280.jpg);
            background-size:cover;
            height:400px;

            @media(min-width:600px) {
                height:600px;
            }
        }

        .overlay {
            background: rgba(0,0,0,.4);
            margin-top:-400px;
            height:400px;

            @media(min-width:600px) {
                margin-top:-600px;
                height:600px
            }

            padding:50px;
            .intro {
                color:white;
                margin:auto;
                text-align:center;
                .title {
                    font-size:1.5em;
                    margin-top:50px;

                    @media(min-width:600px){
                        margin-top:100px;
                        font-size:36px;
                    }   
                }
                .subtitle {
                    margin:20px;
                }
            }
        }
    }


// Header

    header {
        height:100px;
        width:100%;
        background:#fff;
        top:0px;
        .brand {
            height:100%;
            margin-left:20px;
            float:left;
            width:450px;
            img {
                height:100%;
                width:auto;
                padding:10px;
            }

            @media(max-width:600px) {
                width:250px;
            }
        }

        .social-links {
            position:absolute;
            left:340px;
            padding:15px;
            font-size:25px;
        }

        .menu {
            float:right;
            background:#fff;
            .menu-links {
                list-style: none;
                font-size: 2em;
                @media(min-width:600px) {
                    li {
                        float:left;
                        margin:5px;
                        padding:25px;
                    } 
                }
            } 
            @media(max-width:1290px){
                display:none;
                width:100%;
            }      
        }

        .menu-toggle {
            float:right;
            padding:25px;
            font-size:30px;

            @media(min-width:1290px){
                display:none;
            }
        }

    }

// Sections
    section {
        min-height:300px;
    }

    section.alt {
        background:rgba(43,48,60,0.9);
        color:white;
    }


    .about {

    }

    .projects {

    }

    .team {

    }

    .contact-us {

    }




// Footer

    footer {
        min-height: 300px;
        background:rgba(43,48,60,0.9);
    }