node_modules
dist
.tmp
.sass-cache
app/bower_components
test/bower_components
*.log
*.swp*

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
