<!-- footer 
<div id="footer">
    <h1>get in touch</h1>
    <h3 class="center follow">
				We're social and we'd love to hear from you! Feel free to send us an email, find us on Google Plus, follow us on Twitter and join us on Facebook.
			</h3>
    <div class="follow_us">
        <a href="#" class="fa fa-twitter follow_us"></a>
        <a href="#" class="fa fa-facebook follow_us"></a>
        <a href="#" class="fa fa-linkedin follow_us"></a>
        <a href="#" class="fa fa-google-plus follow_us"></a>
        <a href="#" class="fa fa-vimeo-square follow_us"></a>
    </div>
</div>
-->
<!-- footer 2 -->
<div id="footer2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    UCMerced ACM 
                    <script type="text/javascript">
                    //<![CDATA[
                    var d = new Date()
                    document.write(d.getFullYear())
                        //]]>
                    </script>
                    - All Rights Reserved : Template by <a href="http://spiralpixel.com">Spiral Pixel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- up to top -->
<a href="#"><i class="go-top fa fa-angle-double-up"></i></a>
<!--//end-->

<!-- SCRIPTS -->
<script src="/assets/dependencies/js/jquery.js"></script>
<script src="/assets/dependencies/js/bootstrap.min.js"></script>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" src="/assets/dependencies/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/dependencies/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- slider settings -->
<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function() {
    jQuery('.tp-banner').show().revolution({
        delay: 9000,
        startwidth: 1170,
        startheight: 600,
        navigationType: "bullet",
        navigationStyle: "square",
        hideBulletsOnMobile: "on",
        hideArrowsOnMobile: "on",
        shadow: 0,
        fullWidth: "on",
    });
});
//]]>
</script>
<script type="text/javascript">
	//<![CDATA[
		$(document).ready(function(){
			$("#ajax-contact-form").submit(function() {
				var str = $(this).serialize();
				$.ajax({
					type: "POST",
					url: "/contact_form/contact_process.php",
					data: str,
					success: function(msg) {
						// Message Sent - Show the 'Thank You' message and hide the form
						if(msg == 'OK') {
							result = '<div class="notification_ok">Your message has been sent. Thank you!</div>';
							$("#fields").hide();
						} else {
							result = msg;
						}
						$('#note').html(result);
					}
				});
				return false;
			});
		});
	//]]>
</script>

<script type="text/javascript" src="/assets/dependencies/js/gmap3.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>

<!--//GOOGLE MAP - ADD YOUR ADDRESS HERE -->
<script type="text/javascript">
	//<![CDATA[
	$(window).load(function() {
	$(".google-maps").gmap3({
    marker:{
	latLng:[37.365918, -120.421544],options:{icon: "/assets/img/marker.png"}},
    map:{
      options:{
		zoom: 16,
		scrollwheel: false,
		mapTypeControl: false,
		streetViewControl: false,
		scalControl: false,
		draggable: false,
		disableDefaultUI: true}
		}
		});
	});
//]]>
</script>



<script src="/assets/dependencies/js/jquery.touchSwipe.min.js"></script>
<script src="/assets/dependencies/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/assets/dependencies/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>
<script src="/assets/js/retina.js"></script>
<!-- carousel -->
<script type="text/javascript" src="/assets/dependencies/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function($) {
    $("#slider_home").carouFredSel({
        width: "100%",
        height: "auto",
        responsive: true,
        auto: false,
        items: {
            width: 280,
            visible: {
                min: 1,
                max: 3
            }
        },
        swipe: {
            onTouch: true,
            onMouse: true
        },
        scroll: {
            items: 1,
        },
        prev: {
            button: "#sl-prev",
            key: "left"
        },
        next: {
            button: "#sl-next",
            key: "right"
        }
    });
});
//]]>
</script>
</body>

</html>
