<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ACM at UC Merced</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <!--[if IE]>
	<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
<![endif]-->

    <link href="/assets/dependencies/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/dependencies/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
    <link href="/css/colour.css" rel="stylesheet" type="text/css" />
    <link href="/assets/dependencies/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
    <link href="/assets/dependencies/css/zocial.css" rel="stylesheet" type="text/css" />
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="/assets/dependencies/rs-plugin/css/settings.css" media="screen" />

    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
    <!--header-->
    <div class="header">
        <!--menu-->
        <nav id="main_menu" class="navbar" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!--toggle-->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!--logo-->
                    <div class="logo">
                        <a href="/"><img src="/assets/img/logo.png" alt="" />
                        </a>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav pull-right">
                    	<li><a href="/">Home</a></li>
                        <li class="dropdown"><a href="/about">About</a>
                            <ul class="dropdown-menu">
                                <li><a href="/about/our-team/">Our Team</a></li>
                                <li><a href="/about/apply/">Apply</a></li>
                               <li><a href="/about/membership/">Membership</a></li>
<!-- 								<li><a href="/sponsorship">Sponsorship</a></li>-->
                            </ul>
                        </li>
<!-- Taken out until further notice <li><a href="/projects/">Projects</a></li> 
                        <li class="dropdown"><a href="/resources/">Resources</a>
                            <ul class="dropdown-menu">
                                <li><a href="/resources/getting-started/">Getting Started</a></li>
                                <li><a href="/resources/building-things">Building Things</a></li>
                                <li><a href="/resources/pragmatic-programming">Pragmatic Programming</a></li>
                                <li><a href="/contact/index.html#subject=Resource%20Suggestion%20for%20ACM%20Website">Add A Resource</a></li>
                            </ul>
                        </li> -->
                        <li><a href="/events">Events</a></li>
                        <li><a href="/blog">Blog</a></li>
						<!--<li><a href="/sponsorship">Sponsorship</a></li> -->
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--//header-->
